/**
 * CSS-Datei für die PaulLaTeX-Webseite.
 */

td, th { border: solid thin; padding: 0.5ex;}

div.inhalt {
  max-width: 50em;
  margin-left: 3em;
  margin-right:auto;
}

h1 sup, h1 sub, acronym sub, acronym sup {
  margin-left: -0.3em;
  margin-right: -0.1em;
}

.disclaimer { border: solid thin;
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  padding: 1ex;
  background-color: yellow;
  color:black;
}
li:first-child ul li,
/* li ul li ul, */
li ul li { display: inline; }
#neues { float:right;
  width: 35ex;
/*  max-height: 12em; */
  border:solid thin;
  padding: 0.5ex 1ex 0.5ex 1ex;
  overflow: auto;
  margin: 2em -10em 1em 1em;
}
#neues dt { display: run-in;
  font-weight: bold;
}
#neues dt:after{ content: ": " }
#neues dd { margin-left:1em;
  text-indent: -1em; } 

.linkbox {
/*	position: relative;
	top: -2em;
 */
/*	margin-top: -2em; */
  margin: 1ex;
  font-size: 80%;
  background-color: #A0E0E0;
  color: black;
  float:right;
  border: solid thin #008080;
  caption-side: bottom;
}

.linkbox caption {
/*
	color: inherit;
	background-color: inherit;
*/
}

.linkbox td, .linkbox th {
	border: none;
	padding: 0ex;
}
.linkbox th {
	text-align: right;
	font-weight: normal;
}
.linkbox th:after {
	content: ": ";
}

div[id] {
	clear: right;
}